<div>
  <h2>Collaborateurs</h2>
  <div class="inlineDiv">
    <ul class="collaborators">
      <li *ngFor="#collaborator of collaborators"
        [class.selected]="collaborator === selectedCollaborator"
        (click)="onSelect(collaborator)">
        <span class="badge">{{collaborator.id}}</span> {{collaborator.name}}
      </li>
    </ul>
  </div>
  <div *ngIf="selectedCollaborator"  class="inlineDiv">
    <my-collaborator-detail [collaborator]="selectedCollaborator"></my-collaborator-detail>
  </div>
</div>
