<div *ngIf="collaborator">

  <h2>Détails de {{collaborator.name}}!</h2>
  <div>
    <div class= "form-element">
      <label>Id: </label>{{collaborator.id}}</div>
    <div class= "form-element">
      <label for="collab-name">Nom: </label>
      <input id="collab-name" [(ngModel)]="collaborator.name" placeholder="name" />
    </div>
    <div class= "form-element">
      <label for="collab-surname">Prénom: </label>
      <input id="collab-surname" [(ngModel)]="collaborator.surname" placeholder="surname" />
    </div>
    <div class= "form-element">
      <label for="collab-image">Photo: </label>
      <input id="collab-image" type="file" (change)="onImageSelected($event)"/>
    </div>

    <div class= "form-element">
      <label for="collab-check">Est manager: </label>
      <input id="collab-check" type="checkbox" disabled [(ngModel)]="collaborator.isManager" />
    </div>

    <div class= "form-element">
      <label for="collab-manager">Manager: </label>
      <select id="collab-manager" [(ngModel)]="collaborator.manager">
          <option></option>
          <option *ngFor="let manager of managers" [ngValue]="manager">{{manager.name}}</option>
      </select>
    </div>

    <div class= "form-element" *ngIf="collaborators.length > 0">
      <label for="collab-manager">Collaborateurs: </label>
      <ul id="listManagedCollaborators">
        <li *ngFor="let collab of collaborators" (click)="gotoDetail(collab.id)">{{collab.name}}</li>
      </ul>
    </div>

    <div class= "form-element">
      <my-competences [collaborator]="collaborator"></my-competences>
    </div>
  </div>
  <div class="collab-image" *ngIf="collaborator.image">
    <img [src]="collaborator.image" class="img-thumbnail img-circle"/>
  </div>
  <button (click)="goBack()">Retour</button>
</div>
