<div *ngIf="collaborator">
  <h2>Détails de {{collaborator.name}}!</h2>
  <div class= "form-element">
    <label>Id: </label>{{collaborator.id}}</div>
  <div class= "form-element">
    <label for="collab-name">Nom: </label>
    <input id="collab-name" [(ngModel)]="collaborator.name" placeholder="name" />
  </div>
  <div class= "form-element">
    <label for="collab-surname">Prénom: </label>
    <input id="collab-surname" [(ngModel)]="collaborator.surname" placeholder="surname" />
  </div>
  <div class= "form-element">
    <label for="collab-manager">Manager: </label>
    <select id="collab-manager" [(ngModel)]="collaborator.manager">
        <option></option>
        <option *ngFor="#manager of managers" [ngValue]="manager">{{manager.name}}</option>
    </select>
  </div>
  <button (click)="goBack()" *ngIf="isBackAvailable">Retour</button>
</div>
